@import url("https://fonts.googleapis.com/css?family=Short+Stack");
@import url("https://fonts.googleapis.com/css?family=Schoolbell");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  font-size: 62.5%;
  color: #24292e;
}

body .container-fluid {
  padding: 0;
}

.wrapper {
  min-width: 320px;
  width: 100%;
  text-align: center;
}
.wrapper .intro {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #cecece;
}
.wrapper .intro::after {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  width: 5rem;
  height: 5rem;
  margin-left: -25px;
  margin-top: -25px;
  content: "";
  transform: rotate(45deg);
  background-color: #cecece;
}
.wrapper .intro .intro-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.wrapper .intro .intro-content .intro-title {
  font-size: 5rem;
  font-weight: 100;
  font-family: "Schoolbell", cursive;
  animation: moveLeft 1.5s;
}
.wrapper .intro .intro-content .intro-subtitle {
  font-size: 2rem;
  font-family: "Short Stack", cursive;
  animation: moveDown 2s;
}
@keyframes moveLeft {
  0% {
    transform: translateX(4.5rem);
  }
  80% {
    transform: translateX(-0.5rem);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    top: 0;
  }
}
.wrapper .intro .arrow-down {
  position: absolute;
  top: 80%;
  z-index: 2;
  width: 100%;
  height: 10%;
  text-align: center;
}
.wrapper .intro .arrow-down .fa-chevron-down {
  font-size: 8rem;
  color: #24292e;
  cursor: pointer;
}
.wrapper .intro .arrow-down .fa-chevron-down:hover {
  transform: scale(1.2) translateY(1rem);
}
.wrapper .skills {
  position: relative;
  margin: 0;
  padding-top: 7.5rem;
  text-align: center;
  line-height: 0;
  font-size: 12rem;
  background-color: #868686;
}
.wrapper .skills::after {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  width: 5rem;
  height: 5rem;
  margin-left: -25px;
  margin-top: -25px;
  content: "";
  transform: rotate(45deg);
  background-color: #868686;
}
.wrapper .skills .col-sm-6 {
  margin: 3.5rem auto;
}
.wrapper .skills .col-sm-6 .logo {
  width: 12rem;
}
.wrapper .showcase {
  position: relative;
  margin: 0;
  padding: 7.5rem 0;
  background-color: #cecece;
}
.wrapper .showcase::after {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  width: 5rem;
  height: 5rem;
  margin-left: -25px;
  margin-top: -25px;
  content: "";
  transform: rotate(45deg);
  background-color: #cecece;
}
.wrapper .showcase .projects .spacer {
  margin: 3rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 1rem 1rem 8px rgba(36, 41, 46, 0.6);
}
.wrapper .showcase .projects .spacer img {
  filter: brightness(0.5);
}
.wrapper .showcase .projects .spacer .project-info {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 0;
  font-size: 2rem;
  opacity: 1;
}
.wrapper .showcase .projects .spacer .project-info .badge {
  margin: 1px;
  padding: 6px;
  background-color: #24292e;
}
.wrapper .showcase .projects .spacer .github {
  text-align: right;
  font-size: 2.5rem;
  background-color: #24292e;
}
.wrapper .showcase .projects .spacer .github .fa-github {
  margin-right: 1.5rem;
  color: white;
}
.wrapper .contact {
  margin: 0;
  padding: 7.5rem 0 2rem;
  font-size: 2rem;
  background-color: #868686;
}
.wrapper .contact .contact-form {
  margin-top: 3rem;
  text-align: left;
}
.wrapper .contact .contact-form .form-group .form-control {
  padding: 1rem;
  font-size: 2rem;
  border-color: #24292e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 1rem 1rem 8px rgba(36, 41, 46, 0.6);
}
.wrapper .contact .contact-form .form-group .form-control:hover {
  animation: changeBackground 0.4s;
  animation-fill-mode: forwards;
}
.wrapper .contact .contact-form .form-group .form-control:focus {
  outline: 3px solid rgba(1, 126, 1, 0.541);
}
.wrapper .contact .contact-form .form-group .form-control:focus:invalid {
  outline: 3px solid rgba(255, 0, 0, 0.432);
}
@keyframes changeBackground {
  100% {
    background-color: #cecece;
  }
}
.wrapper .contact .contact-form .send-button {
  float: right;
  margin-top: 2rem;
  padding: 3px 1rem;
  border: none;
  background-color: #24292e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 1rem 1rem 8px rgba(36, 41, 46, 0.6);
  cursor: pointer;
}
.wrapper .contact .contact-form .send-button .fa-envelope {
  margin: 0 1rem;
}
.wrapper .section-heading {
  font-size: 4.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgba(36, 41, 46, 0.5);
}

@media only screen and (min-width: 768px) {
  .wrapper section:not(:first-child) {
    padding: 7.5rem 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper section:not(:first-child) {
    padding: 7.5rem 15rem;
  }
  .wrapper .showcase .projects .spacer .project-info {
    opacity: 0;
  }
  .wrapper .showcase .projects .spacer:hover .project-info {
    animation: fadeIn 0.75s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper section:not(:first-child) {
    padding: 7.5rem 25rem;
  }
  .wrapper .contact {
    font-size: 2.6rem;
  }
}
@media only screen and (min-width: 1920px) {
  .wrapper section:not(:first-child) {
    padding: 7.5rem 55rem;
  }
}

/*# sourceMappingURL=index.css.map */
