@import url("https://fonts.googleapis.com/css?family=Short+Stack");
@import url("https://fonts.googleapis.com/css?family=Schoolbell");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$primary-bgcolor: rgb(230, 230, 230);
$secondary-bgcolor: rgb(200, 208, 209);

$primary-color: #24292e;

@mixin section-divider($color) {
  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    margin-left: -25px;
    margin-top: -25px;
    content: "";
    transform: rotate(45deg);
    background-color: $color;
  }
}

html {
  font-size: 62.5%;
  color: $primary-color;
}

body {
  .container-fluid {
    padding: 0;
  }
}

.wrapper {
  min-width: 320px;
  width: 100%;
  text-align: center;

  .intro {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: $primary-bgcolor;
    @include section-divider($primary-bgcolor);
    .intro-content {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      border-bottom: 2px solid $primary-color;
      .intro-title {
        font-size: 5rem;
        font-weight: 100;
        font-family: "Schoolbell", cursive;
        animation: moveLeft 1.5s;
      }
      .intro-subtitle {
        font-size: 2rem;
        font-family: "Short Stack", cursive;
        animation: moveDown 2s;
      }

      @keyframes moveLeft {
        0% {
          transform: translateX(4.5rem);
        }
        80% {
          transform: translateX(-0.5rem);
        }
      }

      @keyframes moveDown {
        0% {
          transform: translateY(-5rem);
          opacity: 0;
        }
        70% {
          opacity: 0.2;
        }
        100% {
          top: 0;
        }
      }
    }
    .arrow-down {
      position: absolute;
      top: 80%;
      z-index: 2;
      width: 100%;
      height: 10%;
      text-align: center;
      .fa-chevron-down {
        font-size: 8rem;
        color: $primary-color;
        cursor: pointer;
        &:hover {
          transform: scale(1.2) translateY(1rem);
        }
      }
    }
  }

  .skills {
    position: relative;
    height: 100vh;
    margin: 0;
    padding-top: 7.5rem;
    text-align: center;
    line-height: 0;
    font-size: 12rem;
    background-color: $secondary-bgcolor;
    @include section-divider($secondary-bgcolor);
    .col-sm-6 {
      margin: 3.5rem auto;
      .logo {
        width: 12rem;
      }
    }
  }

  .showcase {
    position: relative;
    margin: 0;
    padding: 7.5rem 0;
    background-color: $primary-bgcolor;
    @include section-divider($primary-bgcolor);
    .projects {
      .spacer {
        margin: 3rem;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          1rem 1rem 8px rgba($primary-color, 0.6);
        img {
          filter: brightness(0.5);
        }
        .project-info {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          line-height: 0;
          font-size: 2rem;
          opacity: 1;
          .badge {
            margin: 1px;
            padding: 6px;
            background-color: $primary-color;
          }
        }
        .github {
          text-align: right;
          font-size: 2.5rem;
          background-color: $primary-color;
          .fa-github {
            margin-right: 1.5rem;
            color: white;
          }
        }
      }
    }
  }

  .contact {
    margin: 0;
    padding: 7.5rem 0 2rem;
    font-size: 2rem;
    background-color: $secondary-bgcolor;
    .contact-form {
      margin-top: 3rem;
      text-align: left;
      .form-group {
        .form-control {
          padding: 1rem;
          font-size: 2rem;
          border-color: $primary-color;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            1rem 1rem 8px rgba($primary-color, 0.6);
          transition: all 0.3s;
          &:hover {
            animation: changeBackground 0.4s;
            animation-fill-mode: forwards;
          }
          &:focus {
            outline: 4px solid rgba(1, 126, 1, 0.541);
            &:invalid {
              outline: 4px solid rgba(255, 0, 0, 0.432);
            }
          }
          @keyframes changeBackground {
            100% {
              background-color: $primary-bgcolor;
            }
          }
        }
      }
      .send-button {
        float: right;
        margin-top: 2rem;
        padding: 3px 1rem;
        border: none;
        background-color: $primary-color;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          1rem 1rem 8px rgba($primary-color, 0.6);
        cursor: pointer;
        &:hover {
          .send-button__text {
            color: transparent;
          }
          .fa-envelope {
            transform: translateX(3rem);
          }
        }
        .fa-envelope {
          margin: 0 1rem;
          transition: all 0.3s;
        }
      }
    }
  }

  .section-heading {
    font-size: 4.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgba($primary-color, 0.5);
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    section {
      &:not(:first-child) {
        padding: 7.5rem 5rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    section {
      &:not(:first-child) {
        padding: 7.5rem 15rem;
      }
    }
    .showcase .projects .spacer {
      .project-screenshot {
        overflow: hidden;
      }
      .project-info {
        opacity: 0;
      }
      &:hover {
        img {
          transform: scale(1.1);
          transition: all 0.3s;
        }
        .project-info {
          animation: fadeIn 0.75s;
          animation-fill-mode: forwards;
        }
      }
      @keyframes fadeIn {
        100% {
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .wrapper {
    section {
      &:not(:first-child) {
        padding: 7.5rem 25rem;
      }
    }
    .contact {
      font-size: 2.6rem;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .wrapper {
    section {
      &:not(:first-child) {
        padding: 7.5rem 55rem;
      }
    }
  }
}
