@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Short+Stack");
@import url("https://fonts.googleapis.com/css?family=Schoolbell");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$section-intro-bgcolor: rgb(206, 206, 206);
$section-skills-bgcolor: rgb(134, 134, 134);
$section-showcase-bgcolor: rgb(187, 187, 187);
$section-contact-bgcolor: red;

@mixin section-divider($color) {
  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    margin-left: -25px;
    margin-top: -25px;
    content: "";
    transform: rotate(45deg);
    background-color: $color;
  }
}

html {
  font-size: 62.5%;
}

body {
  .container-fluid {
    padding: 0;
  }
}

.wrapper {
  min-width: 320px;
  width: 100%;
  text-align: center;

  .intro {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: $section-intro-bgcolor;
    @include section-divider($section-intro-bgcolor);
    .intro-content {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      color: black;
      .intro-title {
        font-size: 5rem;
        font-weight: 100;
        font-family: "Schoolbell", cursive;
        animation: moveLeft 1.5s;
      }
      .intro-subtitle {
        font-size: 2rem;
        font-family: "Short Stack", cursive;
        animation: moveDown 2s;
      }

      @keyframes moveLeft {
        0% {
          transform: translateX(5rem);
        }
        80% {
          transform: translateX(-0.5rem);
        }
      }

      @keyframes moveDown {
        0% {
          transform: translateY(-5rem);
          opacity: 0;
        }
        70% {
          opacity: 0.2;
        }
        100% {
          top: 0;
        }
      }
    }
    .arrow-down {
      position: absolute;
      top: 80%;
      z-index: 2;
      width: 100%;
      height: 10%;
      text-align: center;
      .fa-chevron-down {
        font-size: 8rem;
      }
    }
  }

  .skills {
    position: relative;
    margin: 0;
    padding-top: 7.5rem;
    text-align: center;
    line-height: 0;
    font-size: 12rem;
    background-color: $section-skills-bgcolor;
    color: rgb(41, 41, 41);
    @include section-divider($section-skills-bgcolor);
    .col-sm-6 {
      margin: 3.5rem auto;
      .logo {
        width: 12rem;
        opacity: 0.7;
      }
    }
  }

  .showcase {
    position: relative;
    margin: 0;
    padding: 7.5rem 0;
    background-color: $section-showcase-bgcolor;
    @include section-divider($section-showcase-bgcolor);
    .projects {
      margin: 3rem;
    }
  }

  .contact {
    margin: 0;
    padding: 7.5rem 0;
  }
}

.section-heading {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  color: black;
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  background: red;
}

.col-sm-6:hover .test {
  opacity: 1;
}
