@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: url(white_wall_hash.png) repeat 0 0;

    padding-top: 60px;
    padding-bottom: 60px;

    font-family: 'Roboto Mono', monospace!important;
}

h1, h6 {
    font-family: 'Lato', Georgia, Times, serif!important;
}

nav {
    background-color: rgba(255, 255, 255, 0);

    font-family: 'Lato', Georgia, Times, serif!important;
    font-size: 1.3rem; 
}

button {
    width: 60%;

    border: none;
}

button:hover {
    cursor: pointer;
}

.row {
    text-align: center;
}

.projects {
    width: 66%;
    margin-top: 45px;
    margin-bottom: 45px;

    border: solid 2px;
    box-shadow: 0 0 3px 3px #000;
}

.form-group {
    width: 60%!important;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 5px;
}

.form-control {
    background-color: white;
    color: black;
}

#wrapper {
    background: url(white_wall_hash.png);
    color: black;

    min-width: 386px;
}

#nav-wrapper {
    border-bottom: 1px solid black;
}

#about-me {
    padding: 80px 125px 80px 125px;

    font-size: 1.2rem;
    text-align: justify;

    border-bottom: 1px solid black;
}

#showcase {
    padding: 40px;

    border-bottom: 1px solid black;
}

#contact-me {
    padding: 40px;
}

@media (max-width: 576px) {
    body {
        padding-top: 150px;
    }

    nav {
        background-color: rgba(255, 255, 255, 0.9);

        font-size: 1.1rem;
    }

    button {
        width: 100%;
    }

    .projects {
        width: 80%;
    }

    .form-group {
        width: 100%!important;
    }

    #about-me {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .form-group {
        width: 80%!important;
    }
    
    #about-me {
        padding: 30px;
    }
}

@media (max-width: 991px) {
    #about-me {
        padding: 45px;
    } 
}

@media (min-width: 1200px) {
    #wrapper {
        max-width: 960px;
    }

    #nav-wrapper {
        max-width: 960px;
    }
}