html {
  font-size: 62.5%; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-image: linear-gradient(to top, #3a0003, #ca2730);
  width: 40%;
  padding: 2rem;
  border-radius: 5px;
  color: white; }

.container .title {
  font: 100 4rem "Montserrat", sans-serif;
  letter-spacing: 5px;
  word-spacing: 10px;
  padding: 2rem;
  text-transform: uppercase;
  border-bottom: 2px solid white; }

.container .timer-settings {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  margin: 22px 55px 0; }

.container .timer-settings p {
  display: inline-block;
  margin: 20px 20px; }

.container .timer {
  font: 100 6rem sans-serif;
  margin: 20px 0px;
  padding: 1rem 0 0;
  border-top: 2px solid white; }

.container .timer-info {
  font-size: 2.5rem;
  margin: 0 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid white; }

.container button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0; }

.container .test {
  color: #3a0003 !important;
  background-color: white !important;
  font-size: 1.5rem !important;
  padding: 1rem !important;
  margin: 1rem !important;
  min-width: 30%; }

.container .test2 {
  font-size: 1.5rem !important;
  margin: 0 !important; }

.container i {
  color: #3a0003; }

@media only screen and (max-width: 40em) {
  .container {
    width: 100%;
    min-width: 320px;
    padding: 0; }
  body {
    font-size: 16px; }
  .title {
    font-size: 2rem; } }

@media (min-width: 40em) and (max-width: 75em) {
  .container {
    width: 80%;
    padding: 1rem; }
  .title {
    font-size: 1rem; } }
